:root {
    --text-primary: #312F21;
    --text-secondary: #3B392B;
    --bg-primary: #A19F73;
    --bg-secondary: #E1D3C2;
    --main-bg: #fcf6ef;
}


html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 300;
    font-family: "Manrope", sans-serif;
    color: #3B392B;
    background-color: #fcf6ef;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Cormorant Garamond", serif;
    color: #403C2F;
}

h6 {
    font-family: "Manrope", sans-serif;
}

p {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #312F21;
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 2.5rem;
}

.font-homemade-apple {
    font-family: "Homemade Apple", cursive;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pt-30 {
    padding-top: 30px;
}

.my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.bottom-border {
    border-bottom: 1.5px solid #A19F73;
}

.section-title {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.section-title .main-title {
    color: #403C2F;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
}

.section-title .main-title.primary-text {
    color: #A19F73;
}

.section-title .main-title.text-md {
    font-size: 28px;
}

.short-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

@media screen and (max-width: 768px) {

    .py-100 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section-title .main-title {
        font-size: 30px;
    }
}

/* Button */

.primary-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    background: #FCF6EF;
    color: #3B392B;
    border: 1.5px solid #3B392B;
    text-decoration: none;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    text-transform: capitalize;
    z-index: 1;
}

.primary-btn span {
    position: relative;
    z-index: 2;
}

.primary-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--bg-primary);
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.primary-btn:hover::before {
    height: 100%;
}

.primary-btn:hover {
    color: #1d1d1d;
}

@media screen and (max-width: 787.98px) {

    .primary-btn {
        padding: 16px 20px;
        width: 100%;
    }
}

.word-reveal .word-wrap {
    display: inline-block;
    vertical-align: bottom;
}

.word-reveal .word {
    display: inline-block;
}

.reveal {
    position: relative;
    overflow: hidden;
}

.reveal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.border-01 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #A19F73;
}

.border-02 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #C7BEA3;
}

.formalertscdn .container-fluid {
	padding: 0;
}

/*=============================================
   - MAIN HEADER      
=============================================*/

.main-header {
    position: relative;
    width: 100%;
    z-index: 1045;
    background-color: #FBF6EE;
    border: 1.5px solid #A19F73;
}

@keyframes smoothScroll {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.main-header .navbar {
    padding: 0 0;
}

.main-header .menu-wrap {
    width: 100%;
}

.main-header .navbar-brand {
    display: inline-block;
    padding: 10px 0;
}

.main-header .navbar.fixed-top {
    background-color: #FBF6EE;
    border: 1.5px solid #A19F73;
    padding: 0 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.main-header .navbar.fixed-top .navbar-brand img {
    width: 80px;
}

.main-header .navbar .navbar-brand:focus-visible {
    outline: none !important;
}

.main-header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 18px 28px;
    color: #000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.main-header .navbar .navbar-nav .nav-item:hover .nav-link,
.main-header .navbar .navbar-nav .nav-item:focus .nav-link,
.main-header .navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--primary);
    font-weight: 400;
}

.main-header .navbar .navbar-nav .nav-item:hover .nav-link,
.main-header .navbar .navbar-nav .nav-item:focus .nav-link {
    padding-left: 30px;
}

.main-header .navbar .dropdown .dropdown-toggle::after {
    display: none;
}

.main-header .navbar .dropdown .dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-top: 0;
    background-color: #EADFD1;
    min-width: 14rem;
    animation: dropdownSlideLeft 0.4s ease forwards;
}

@keyframes dropdownSlideLeft {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-header .navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.main-header .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 12px 16px 5px 15px;
}

.main-header .navbar .dropdown .dropdown-menu .dropdown-item:hover,
.main-header .navbar .dropdown .dropdown-menu .dropdown-item:focus {
    color: var(--primary);
    background-color: transparent;
}

.main-header .navbar .menu-btn {
    border: 0;
    background: transparent;
    font-size: 18px;
    padding: 35px 0;
    color: #000;
}

.main-header .navbar .menu-btn:focus-visible {
    outline: none !important;
}

.main-header .navbar .call-btn {
    font-size: 20px;
    margin-left: 30px;
    text-align: right;
}

.main-header .navbar .call-btn:hover {
    color: var(--primary);
}

@media screen and (max-width: 768px) {

    .main-header .navbar .navbar-brand img {
        width: 160px;
    }

    .main-header .navbar .offcanvas-body {
        padding-top: 80px;
    }

    .main-header .navbar .navbar-nav .nav-item .nav-link {
        padding: 15px 15px;
        text-align: right;
        color: var(--secondary);
        font-size: 14px;
        font-weight: 400;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .main-header .navbar .navbar-nav .nav-link:hover,
    .main-header .navbar .navbar-nav .nav-link:focus,
    .main-header .navbar .navbar-nav .nav-link.active {
        color: var(--secondary);
    }
}

@media screen and (max-width: 576px) {
    .main-header .navbar .navbar-brand img {
        width: 80px;
    }
}

/* =======================================
- Banner Section
========================================== */

.banner-section {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    padding: 80px 0;
    z-index: 1;
    overflow: hidden;
}

.banner-section .enquiry-form {
    position: relative;
    padding-left: 0;
    padding: 50px 50px 50px 0;
    margin-bottom: 50px;
}

.banner-section .enquiry-form:before {
    position: absolute;
    content: "";
    background: rgb(225 211 194 / 90%);
    inset: 0;
    z-index: -1;
    left: -100%;
}

.banner-section .enquiry-form h4 {
    font-size: 22px;
    font-family: "Cormorant", serif;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 8px;
}

.banner-section .enquiry-form p {
    font-size: 14px;
    margin-bottom: 20px;
}

.banner-section .enquiry-form label {
    color: #312F21;
    font-weight: 400;
}

.banner-section .enquiry-form [class*="col-"]{
	width: 100%;
}

.banner-section .enquiry-form .form-control {
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(94, 45, 38, 0.30);
    border-radius: 0;
    padding: 10px 10px;
    color: #000;
    margin-bottom: 0;
}

.banner-section .enquiry-form .form-control:focus{
	box-shadow: none;
}

.banner-section .enquiry-form .form-control::placeholder {
    color: #A19F73;
    text-transform: uppercase;
}

.banner-section .enquiry-form .text-left .form-group{
	display: flex;
    align-items: self-start;
    gap: 5px;
	font-size: 14px;
}

.banner-section .enquiry-form .text-left .form-group input{
	display: inline-block;
    width: 16px;
    height: 25px;
    line-height: 100%;
    flex-shrink: 0;
    border-radius: 0;
}

.banner-section .enquiry-form .btn-primary,
.banner-section .enquiry-form .banner-btn {
	position: relative;
    font-family: "Cormorant", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    color: #A19F73;
}

.banner-section .enquiry-form .btn-primary:after{
	position: absolute;
    content: "";
    background-image: url(../images/right-arrow.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-position: right;
    background-size: 35px;
    right: 0;
    top: 0;
}

.banner-section .image-wrap {
    position: relative;
    bottom: -70px;
    text-align: center;
}

.banner-section .image-wrap img {
    max-width: 320px;
}

.banner-section .detail-wrap {
    position: relative;
    padding: 40px 40px;
    background-color: #EAE2D7;
    text-align: center;
    margin-bottom: 50px;
}

.banner-section .detail-wrap .border-left-right:before {
    position: absolute;
    content: "";
    left: 15px;
    top: 25px;
    bottom: 25px;
    border-left: 1.5px solid #A19F73;
}

.banner-section .detail-wrap .border-left-right:after {
    position: absolute;
    content: "";
    right: 15px;
    top: 25px;
    bottom: 25px;
    border-right: 1.5px solid #A19F73;
}

.banner-section .detail-wrap .border-top-bottom:before {
    position: absolute;
    content: "";
    top: 15px;
    left: 20px;
    right: 20px;
    border-top: 1.5px solid #A19F73;
}

.banner-section .detail-wrap .border-top-bottom:after {
    position: absolute;
    content: "";
    bottom: 15px;
    left: 20px;
    right: 20px;
    border-bottom: 1.5px solid #A19F73;
}

.banner-section .detail-wrap img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    -o-object-fit: contain;
    margin-bottom: 15px;
}

.banner-section .detail-wrap .header-box h6 {
    font-size: 24px;
    font-family: "Homemade Apple", cursive;
    font-weight: 500;
    margin-bottom: 5px;
}

.banner-section .detail-wrap .header-box p {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.banner-section .detail-wrap .content {
    margin-top: 40px;
}

.banner-section .detail-wrap .content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-section .detail-wrap .highlight-text {
    color: #A19F73;
    text-transform: lowercase;
    margin-bottom: 0;
}

.banner-section .banner-content .banner-title {
    font-family: "Instrument Serif", sans-serif;
    font-size: clamp(32px, 5vw, 44px);
    font-weight: 400;
    color: #000;
    letter-spacing: 1.75px;
    margin-bottom: 15px;
}

.banner-section .banner-content .banner-title span {
    color: var(--primary);
    font-style: italic;
}

.banner-section .banner-content .sub-title {
    font-size: 28px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1.2px;
    margin-bottom: 15px;
}

.banner-section .banner-content .sub-title span {
    color: var(--primary);
    font-style: italic;
}


.banner-section .image-wrap .main-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 1;
}

.banner-section .image-wrap .overlay-img img {
    position: absolute;
    top: 0;
    right: -100px;
    width: 70%;
    height: 30%;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .banner-section .enquiry-form {
        padding: 25px;
    }

    .banner-section .enquiry-form:before {
        left: 0;
    }
}

@media screen and (max-width:767.98px) {
    .banner-section {
        position: relative;
    }

    .banner-section .banner-content .main-title {
        font-size: 42px;
    }

    .banner-section .banner-content .sub-title {
        font-size: 20px;
    }
}

@media screen and (max-width:576px) {
    .banner-section .image-wrap .overlay-img img {
        display: none;
    }
}

/* =======================================
- Section 01
========================================== */

.section-01 {
    position: relative;
    overflow: hidden;
}

.section-01 .detail {
    position: relative;
    max-width: 330px;
    text-align: right;
    float: right;
}

.section-01 .detail p {
    font-family: "Homemade Apple", cursive;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.section-01 .location {
    position: absolute;
    right: 0;
    bottom: 80px;
    font-size: 12px;
    color: #312F21;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: right;
}

/* .section-01 .img-box {
    position: relative;
    width: 100%;
    height: 100%;
} */

.section-01 .img-box {
    position: relative;
    border: 1.5px solid #A19F73;
    padding: 10px 10px;
    z-index: 1;
    margin-bottom: 50px;
}

.section-01 .img-box::before {
    position: absolute;
    bottom: 25%;
    left: -130px;
    content: "";
    background-image: url(../images/shapes/line.svg);
    width: 140px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.section-01 .img-box>img {
    border: 5px solid #A19F73;
}

.section-01 .img-box .overlay-img img {
    position: absolute;
    top: 0;
    left: -20%;
    width: 200px;
    height: 180px;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 1;
}

@media screen and (max-width:768px) {
    .section-01 .detail {
        max-width: 100%;
        text-align: left;
        float: none;
    }

    .section-01 .detail p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .section-01 .location {
        position: absolute;
        right: -100px;
        bottom: 0;
    }
}

@media screen and (max-width:768px) {
    .section-01 .location {
        position: relative;
        bottom: auto;
        right: auto;
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width:768px) {
    .section-01 .img-box .overlay-img img {
        top: -50px;
        left: 0;
    }

    .section-01 .img-box::before {
        display: none;
    }

    .section-01 .detail::before {
        position: absolute;
        bottom: -110px;
        right: 0;
        content: "";
        background-image: url(../images/shapes/line.svg);
        width: 140px;
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;
    }
}

/* =======================================
- Section 02
========================================== */

.section-02 {
    position: relative;
}

.section-02 .left-content-wrap {
    position: relative;
    text-align: center;
}

.section-02 .left-content-wrap img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    -o-object-fit: contain;
}

.section-02 .plan-list ul li {
    position: relative;
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #3B392B;
    text-align: center;
    line-height: 100%;
    font-style: italic;
    margin-bottom: 40px;
}

.section-02 .plan-list ul li span {
    font-size: 30px;
    font-family: "Cormorant Garamond", sans-serif !important;
    /* font-family: 'Manrope', sans-serif; */
}

.section-02 .right-content-wrap {
    position: relative;
    text-align: center;
}

.section-02 .right-content-wrap h5 {
    color: #A19F73;
    font-family: "Cormorant", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
    font-style: italic;
    text-transform: capitalize;
}

.section-02 .right-content-wrap img {
    width: 120px;
    object-fit: contain;
    -o-object-fit: contain;
}

.section-02 .right-content-wrap p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

/* =======================================
- Section 03
========================================== */

.section-03 {
    position: relative;
    background-color: var(--bg-primary);
    overflow: hidden;
}

.section-03 .shapes .woman-img {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 2;
}

.section-03 .shapes .curve-img {
    position: absolute;
    bottom: -50px;
    left: -70px;
    width: 500px;
    height: 500px;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 1;
}

.section-03 .image-box {
    position: relative;
    padding: 15px 15px;
    margin-bottom: 60px;
    border: 1.5px solid #E0D3C2;
}

.section-03 .image-box img.main-img {
    width: 100%;
    display: block;
    object-fit: cover;
    outline: 5px solid #C7BEA3;
}

.section-03 .overlay-img img {
    position: absolute;
    top: 0;
    right: -18%;
    width: 150px;
    height: 150px;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 1;
}

.section-03 .detail-wrap h6 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.section-03 .detail-wrap p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.section-03 .overlay-text {
    position: relative;
    text-align: right;
}

.section-03 .overlay-text p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-03 .overlay-text h6 {
    font-family: "Homemade Apple", cursive;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-03 .bottom-image img {
    position: relative;
    bottom: -50px;
    right: -30px;
    width: 400px;
    height: 400px;
    object-fit: contain;
    -o-object-fit: contain;
    z-index: 1;
}

@media screen and (max-width:1024px) {
    .section-03 .overlay-img img {
        top: -80px;
        right: 0;
    }

    .section-03 .bottom-image img {
        position: relative;
        bottom: auto;
        right: auto;
    }

    .section-03 .bottom-image {
        text-align: end;
    }
}

@media screen and (max-width: 768px) {
    .section-03 .shapes .woman-img {
        bottom: -10px;
        left: 0;
        width: 230px;
        height: 230px;
    }

    .section-03 .shapes .curve-img {
        display: none;
    }
}

/* =======================================
- Section 04
========================================== */

.section-04 {
    position: relative;
}

.section-04 .shapes .star-img-01 {
    position: absolute;
    top: 30px;
    left: -30px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    -o-object-fit: contain;
    transform: scaleX(-1);
}

.section-04 .shapes .star-img-02 {
    position: absolute;
    bottom: 30px;
    right: -40px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    -o-object-fit: contain;
}

.section-04 .line-shape img {
    width: 150px;
    height: 50px;
    object-fit: contain;
    -o-object-fit: contain;
}

.section-04 .key-points {
    margin-top: 40px;
}

.section-04 .key-points ul li {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

.section-04 .key-points ul li h5 {
    color: #312F21;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

.section-04 .key-points ul li p {
    color: #312F21;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.section-04 .image-box {
    position: relative;
    padding: 15px 15px;
    border: 1px solid #A19F73;
}

.section-04 .image-box::before {
    position: absolute;
    bottom: -100px;
    left: -130px;
    content: "";
    background-image: url(../images/shapes/curve-line.svg);
    width: 300px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.section-04 .image-box img {
    width: 100%;
    display: block;
    object-fit: cover;
    /* border: 5px solid #A19F73; 
    outline: 1px solid #A19F73;
    outline-offset: 15px;*/
}

.section-04 .highlight-text {
    display: inline-block;
}

.section-04 .highlight-text p {
    font-family: "Homemade Apple", cursive;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 250px;
    margin-top: 80px;
    transform: rotate(350deg);
}

.section-04 .download-wrap {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 20px;
}

.section-04 .download-wrap .brochure-btn {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.section-04 .download-wrap .brochure-btn p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.section-04 .download-wrap .img-box {
    position: relative;
}

.section-04 .download-wrap .img-box img {
    width: 200px;
    border: 1.5px solid #A19F73;
    padding: 8px 8px;
    object-fit: cover;
    -o-object-fit: cover;
}

@media screen and (max-width:1024px) {
    .section-04 .shapes .star-img-02 {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .section-04 .shapes .star-img-01 {
        top: -40px;
        left: 50%;
        transform: translateX(-50%) rotate(270deg);
        width: 150px;
        height: 150px;
    }

    .section-04 .image-box::before {
        bottom: -100px;
        left: -42px;
        width: 180px;
        height: 180px;
        z-index: -1;
    }

    .section-04 .highlight-text p {
        margin-bottom: 40px;
        max-width: 300px;
    }
}

@media screen and (max-width:576px) {
    .section-04 .download-wrap {
        display: block;
        text-align: center;
    }
}

/* ========================================
- Section 05
=========================================== */
.section-05 {
    position: relative;
    padding-top: 80px;
}

.section-05 .detail {
    margin-bottom: 80px;
    text-align: center;
}

.section-05 .background-image {
    position: relative;
}

.section-05 .background-image:before {
    position: absolute;
    content: "";
    background-image: url(../images/line.svg);
    right: 130px;
    top: -245px;
    width: 450px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.section-05 .background-image .overlay-text p {
    position: absolute;
    right: 170px;
    top: -225px;
    font-family: "Homemade Apple", cursive;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 250px;
    margin-top: 80px;
    transform: rotate(350deg);
}

@media screen and (max-width:1024px) {
    .section-05 {
        padding-top: 0;
    }

    .section-05 .detail {
        margin-bottom: 200px;
    }

    .section-05 .background-image .overlay-text p {
        position: absolute;
        right: 170px;
        top: -190px;
    }

    .section-05 .background-image:before {
        position: absolute;
        content: "";
        background-image: url(../images/line.svg);
        right: 5px;
        top: -180px;
        width: 250px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
        transform: scaleX(-1);
    }
}

/* ================================
- Flat Tab Section
=================================== */

.flat-tab-section {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.flat-tab-section .flat-tabs-wrap {
    position: relative;
    padding: 20px 15px;
    background-color: #E1D3C2;
    overflow: hidden;
}

.flat-tab-section .flat-tabs-wrap .nav-tabs {
    border: none !important;
}

.flat-tab-section .flat-tabs-wrap .nav-tabs .nav-link {
    position: relative;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: var(--text-secondary)
}

.flat-tab-section .flat-tabs-wrap .nav-tabs .nav-link::before {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-image: url('../images/shapes/tab-active-line.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.flat-tab-section .flat-tabs-wrap .nav-tabs .nav-link.active::before {
    opacity: 1;
}

.flat-tab-section .flat-content-wrap {
    position: relative;
}

.flat-tab-section .flat-content-wrap .flat-inner-content {
    position: relative;
}

.flat-tab-section .flat-content-wrap .flat-inner-content .image-box {
    position: relative;
}

.flat-tab-section .flat-content-wrap .flat-inner-content .image-box img {
    width: 100%;
    border: 5px solid #A19F73;
    object-fit: cover;
    -o-object-fit: cover;
}

.flat-tab-section .flat-content-wrap .flat-inner-content .dropdown-toggle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border: 2px solid #3B392B;
    background-color: #FCF6EF;
    width: 100%;
    border-radius: 0;
    color: #000;
    font-weight: 300;
    cursor: pointer;
}

.flat-tab-section .flat-content-wrap .flat-inner-content .dropdown-toggle::after {
    border: none;
    background-image: url(../images/down-arrow.svg);
    width: 20px;
    height: 15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.flat-tab-section .flat-content-wrap .flat-inner-content .dropdown-toggle.show::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.flat-tab-section .flat-content-wrap .flat-inner-content .dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 1px solid #3B392B;
}

.flat-tab-section .flat-content-wrap .flat-inner-content .dropdown-menu .dropdown-item {
    padding: 10px 30px;
    color: rgba(59, 57, 43, 0.5);
}

.flat-tab-section .flat-content-wrap .flat-inner-content .dropdown-menu .dropdown-item.active,
.flat-tab-section .flat-content-wrap .flat-inner-content .dropdown-menu .dropdown-item:active {
    background-color: #E1D3C2;
    color: var(--text-secondary);
}

.flat-tab-section .flat-content-wrap .flat-inner-content .download-wrap {
    position: relative;
    display: none;
}

.flat-tab-section .flat-content-wrap .flat-inner-content .download-wrap.active {
    display: block;
}

.flat-tab-section .nav-arrows {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

.flat-tab-section .nav-arrows button {
    background-color: transparent;
    border: none;
}

.flat-tab-section .nav-arrows button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    -o-object-fit: contain;
}

/* ============================
- Contact Form Section
=============================== */
.contact-form-section {
    position: relative;
    overflow: hidden;
}

.contact-form-section .left-content-wrap {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}

.contact-form-section .curved-arch-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 100px 50px 30px 50px;
    background-color: #A4ADA2;
    border: 5px solid #999972;
    border-bottom: 2px solid #999972;
    border-radius: 200px 200px 0 0;
    max-width: 350px;
    min-height: 600px;
    z-index: 2;
}

.contact-form-section .curved-arch-wrap .top-content h5 {
    font-size: 18px;
    font-weight: 600;
    color: #312F21;
    margin-bottom: 10px;
}

.contact-form-section .curved-arch-wrap .bottom-content p {
    color: #878771;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.contact-form-section .curved-arch-wrap .bottom-content img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    -o-object-fit: contain;
    margin-bottom: 10px;
}

.contact-form-section .image-box {
    position: relative;
    left: -60px;
    z-index: 1;
}

.contact-form-section .image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.contact-form-section .image-box .overlay-text {
    position: absolute;
    top: -70px;
    right: -30px;
    text-align: center;
}

.contact-form-section .image-box .overlay-text p {
    font-family: "Homemade Apple", cursive;
    font-size: 18px;
    margin-bottom: 0;
}

.contact-form-section .enquiry-form {
    position: relative;
    padding: 50px 50px 50px 50px;
    background-color: #EADFD2;
    margin-bottom: 80px;
}

.contact-form-section .enquiry-form h6 {
    font-size: 24px;
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-style: italic;
    color: #878771;
    margin-bottom: 10px;
}

.contact-form-section .enquiry-form p {
    color: #878771;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-form-section .enquiry-form label {
    color: #312F21;
    font-size: 14px;
    font-weight: 500;
}

.contact-form-section .enquiry-form .form-control {
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(94, 45, 38, 0.33);
    border-radius: 0;
    padding: 10px 10px;
    color: #000;
    margin-bottom: 25px;
}

.contact-form-section .enquiry-form .form-control::placeholder {
    color: #A19F73;
    text-transform: uppercase;
}

.contact-form-section .enquiry-form .action-btn {
    font-family: "Cormorant", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    font-style: italic;
    color: #A19F73;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.contact-form-section .enquiry-form .action-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    -o-object-fit: contain;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.contact-form-section .enquiry-form .action-btn:hover {
    color: var(--primary);
}

.contact-form-section .enquiry-form .action-btn:hover img {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

@media screen and (max-width: 768px) {
    .contact-form-section .left-content-wrap {
        display: block;
    }

    .contact-form-section .curved-arch-wrap {
        max-width: 100%;
        min-height: 480px;
        margin-bottom: 30px;
    }

    .contact-form-section .image-box img {
        width: 70%;
    }

    .contact-form-section .image-box .overlay-text {
        top: 0;
    }
}

/* =================================
- Footer Section
==================================== */

.footer-section {
    position: relative;
}

.footer-section .content-box {
    position: relative;
    text-align: center;
    padding: 80px 0;
    border-bottom: 1px solid #A19F73;
    overflow: hidden;
}

.footer-section .content-box h6 {
    color: #878771;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-section .content-box p {
    color: #878771;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.footer-section .content-box p+p {
    margin-top: 10px;
}

.footer-section .content-box p a {
    color: #878771;
}

.footer-section .content-box p a:hover {
    color: var(--text-primary);
}

.footer-section .contact-details-wrap {
    position: relative;
    padding: 50px 0;
    border-bottom: 1px solid #A19F73;
}

.footer-section .contact-details-wrap .contact-info {
    position: relative;
    overflow: hidden;
}

.footer-section .contact-details-wrap .contact-info img {
    width: 70px;
    object-fit: contain;
    -o-object-fit: contain;
}

.footer-section .contact-details-wrap .contact-info p {
    color: #878771;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.footer-section .contact-details-wrap .contact-info p a {
    color: #878771;
}

.footer-section .contact-details-wrap .contact-info a:hover {
    color: var(--text-primary);
    letter-spacing: 1.3px;
}

.footer-section .contact-details-wrap .contact-info .social-media {
    margin-top: 20px;
}

.footer-section .contact-details-wrap .contact-info .social-media ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-section .contact-details-wrap .contact-info .social-media ul li a {
    display: inline-block;
    color: #878771;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.footer-section .contact-details-wrap .contact-info .social-media ul li a:hover {
    color: var(--text-primary);
    transform: translateY(-3px);
}

.footer-section .contact-details-wrap .address-area {
    position: relative;
    overflow: hidden;
}

.footer-section .contact-details-wrap .address-area p {
    color: #878771;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.footer-section .copyright {
    position: relative;
    padding: 30px 0;
    overflow: hidden;
}

.footer-section .copyright p,
.footer-section .copyright p a {
    color: #878771;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.footer-section .copyright p a:hover {
    color: var(--text-primary);
}

/* Download Modal */

.download-modal .form-control {
	text-align: left;
    font-size: 14px;
	width: 100%;
    color: var(--text-primary);
    font-weight: 300;
	border: none;
    border-bottom: 1px solid var(--text-secondary);
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.download-modal [class*="col-"]{
	width: 100%;
}

.download-modal .text-left .form-group{
	display: flex;
    align-items: self-start;
    gap: 5px;
	font-size: 14px;
}

.download-modal .text-left .form-group input{
	display: inline-block;
    width: 16px;
    height: 25px;
    line-height: 100%;
    flex-shrink: 0;
    border-radius: 0;
}
 
.download-modal .form-control:focus,
.download-modal .form-control:focus-visible{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	outline: none;
}

.download-modal .form-control::placeholder {
    color: var(--text-secondary);
    opacity: 50%;
    font-weight: 300;
    text-transform: uppercase;
}

.download-modal .btn-primary {
	position: relative;
    font-family: "Cormorant", serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    color: #A19F73 !important;
	width: 140px !important;
}

.download-modal .btn-primary:after{
	position: absolute;
    content: "";
    background-image: url(../images/right-arrow.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-position: right;
    background-size: 35px;
    right: 0;
    top: 0;
}