<section class="impproject-section" [class.visible]="isVisible">
    <div class="left-graphic">
        <img src="https://res.cloudinary.com/tney5nvf/image/upload/v1787493879/6cd724fa-42c6-43f8-bb14-7d6501e004f1.png"
            alt="Chalamaji Signature - Luxury Coastal Living in Visakhapatnam"
            loading="lazy">
    </div>
    <div class="center-content">
        <hr class="center-divider">
        <p class="center-text">A SIGNATURE</p>
        <p class="projname">
            Rising Beside The Bay
        </p>
        <hr class="center-divider">
        <p class="para">Vizag writes its skyline in hills and horizon. Chalamaji signs it — Signature.</p>
        <a [routerLink]="['/projects', 'chalamaji-signature']" class="project-btn">More about the project</a>
    </div>
    <div class="arch-container">
        <img class="arch-image"
            src="https://res.cloudinary.com/tney5nvf/image/upload/v1787317139/d1be0051-e4d5-41fb-87e3-52152125181f.png"
            alt="Chalamaji Signature Architectural Arch in Pandurangapuram Visakhapatnam"
            loading="lazy">
    </div>
</section>